


h1{
color:#930;	
font-family:Verdana, Geneva, sans-serif;
}

p{
color:#667;	
font-family:Tahoma, Geneva, sans-serif;
font-size:18px;
	
}

body{
background-color:#CCC;
	
	
}

h4{
color:#930;	
	
}


footer{
background-color:#666;
font-size:24px;
font-family:Verdana, Geneva, sans-serif;

	
}

ul{
	
list-style-type: none;
margin: 30;
padding: 30;
overflow: hidden;
background-color:#666;
	
	
}

li{
float: left;
	
	
}

li a{
display: block;
color:#C33;
text-align: center;
padding: 14px 16px;
text-decoration: none;
	


	
}

li a:hover{
background-color:#666;	
	
	
}



